@{
    ViewBag.Title = "Paciente.html";    
}

			<div id="about">
				<div class="about-inner">
					<h4 class="page-header">Open-source admin theme for you</h4>
					<p>DevOOPS team</p>
					<p>Homepage - <a href="http://devoops.me" target="_blank">http://devoops.me</a></p>
					<p>Email - <a href="mailto:devoopsme@gmail.com">devoopsme@gmail.com</a></p>
					<p>Twitter - <a href="http://twitter.com/devoopsme" target="_blank">http://twitter.com/devoopsme</a></p>
					<p>Donate - BTC 123Ci1ZFK5V7gyLsyVU36yPNWSB5TDqKn3</p>
				</div>
			</div>	
			<div id="ajax-content">
				<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Pacientes</a></li>			
		</ol>	
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-usd"></i>
					<span>Listado de Pacientes</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>Código</th>
							<th>Nombres</th>							
							<th>Edad</th>
							<th>Dirección</th>                            
							<th>Operación</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
						<tr>
							<td>BRKESBA011</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">Carlos Slim Helu & family</td>							
							<td>74</td>
							<td>jr. Apurimac 123 int 123</td>							
								<td>
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group">
				<a class="btn btn-primary" href="#"><i class="fa fa-desktop fa-fw"></i> Acción <i class="fa"></i></a>
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
				<span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>					
					
				</ul>
			</div>
                            </div>
                            </div>
                            </td>
						</tr>
						<tr>
							<td>BRKESBA333</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/bill-gates_50x50.jpg" alt="">Bill Gates</td>							
							<td>58</td>
							<td>jr. ayacucho #434</td>							
								<td>
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group">
				<a class="btn btn-primary" href="#"><i class="fa fa-desktop fa-fw"></i> Acción <i class="fa"></i></a>
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
				<span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>					
					
				</ul>
			</div>
                            </div>
                            </div>
                            </td>
						</tr>
						<tr>
							<td>BRKESBA444</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/amancio-ortega_50x50.jpg" alt="">Amancio Ortega</td>							
							<td>77</td>
							<td>av. carlos hernand 1234</td>							
								<td>
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group">
				<a class="btn btn-primary" href="#"><i class="fa fa-desktop fa-fw"></i> Acción <i class="fa"></i></a>
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
				<span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>					
					
				</ul>
			</div>
                            </div>
                            </div>
                            </td>
						</tr>
						<tr>
							<td>BRKESBA555</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/warren-buffett_50x50.jpg" alt="">Warren Buffett</td>							
							<td>83</td>
							<td>cerro los olvidados 012</td>														
                            	<td>
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group">
				<a class="btn btn-primary" href="#"><i class="fa fa-desktop fa-fw"></i> Acción <i class="fa"></i></a>
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
				<span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>					
					
				</ul>
			</div>
                            </div>
                            </div>
                            </td>
						</tr>
						<tr>
							<td>BRKESBA666</td>
							<td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/larry-ellison_50x50.jpg" alt="">Larry Ellison</td>							
							<td>69</td>
							<td>av. javier prado 123</td>							
							<td>
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group">
				<a class="btn btn-primary" href="#"><i class="fa fa-desktop fa-fw"></i> Acción <i class="fa"></i></a>
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
				<span class="fa fa-caret-down"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>					
					
				</ul>
			</div>
                            </div>
                            </div>
                            </td>
						</tr>
						
						</tr>						
					<!-- End: list_row -->
					</tbody>				
				</table>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row">		
		<div class="col-sm-12" >
			<div class="bs-example">				
				<button class="btn  btn-danger" type="button" style="float:right"   id="btnAgregar">Agregar</button>				
			</div>
		</div>
	</div>


<script type="text/javascript">    
    $('#btnAgregar').on('click', function () {
        window.location.href = '@Url.Action("registrar", "paciente")';
    });
</script>
